body {
  margin:0px;
  background-color:rgba(52, 150, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:151px;
  top:213px;
  width:998px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:0px;
  width:1000px;
  height:180px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:180px;
}
#u4 {
  position:absolute;
  left:2px;
  top:82px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:179px;
  width:1000px;
  height:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:150px;
  top:0px;
  width:1000px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1024px;
  top:13px;
  width:53px;
  height:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1080px;
  top:12px;
  width:36px;
  height:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:812px;
  top:81px;
  width:225px;
  height:33px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:160px;
  top:6px;
  width:70px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#17445E;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:747px;
  top:8px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:812px;
  top:8px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:877px;
  top:8px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:942px;
  top:8px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:225px;
  top:68px;
  width:285px;
  height:85px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:85px;
}
#u26 {
  position:absolute;
  left:2px;
  top:34px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:814px;
  top:117px;
  width:270px;
  height:15px;
  font-size:12px;
  color:#97CDE8;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:886px;
  top:183px;
  width:200px;
  height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:891px;
  top:185px;
  width:22px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1086px;
  top:183px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:917px;
  top:184px;
  width:163px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:150px;
  top:179px;
  width:690px;
  height:36px;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:696px;
  height:42px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:41px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:282px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:376px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:470px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:564px;
  top:0px;
  width:126px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:94px;
  top:36px;
  width:94px;
  height:150px;
  visibility:hidden;
}
#u52_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:100px;
  height:156px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:155px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:25px;
  width:94px;
  height:25px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:50px;
  width:94px;
  height:25px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:75px;
  width:94px;
  height:25px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:100px;
  width:94px;
  height:25px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:125px;
  width:94px;
  height:25px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:282px;
  top:36px;
  width:100px;
  height:50px;
  visibility:hidden;
}
#u66_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:56px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:55px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  color:#000333;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:25px;
  color:#000333;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:188px;
  top:36px;
  width:100px;
  height:50px;
  visibility:hidden;
}
#u72_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:56px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:55px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u74_img.mouseOver {
}
#u74.mouseOver {
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:25px;
  width:100px;
  height:25px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:376px;
  top:36px;
  width:94px;
  height:75px;
  visibility:hidden;
}
#u78_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:100px;
  height:81px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:80px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  color:#000333;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:25px;
  width:94px;
  height:25px;
  color:#000333;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:50px;
  width:94px;
  height:25px;
  color:#000333;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:470px;
  top:36px;
  width:94px;
  height:50px;
  visibility:hidden;
}
#u86_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:100px;
  height:56px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:55px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u88_img.mouseOver {
}
#u88.mouseOver {
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:25px;
  width:94px;
  height:25px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
}
#u90_img.mouseOver {
}
#u90.mouseOver {
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:564px;
  top:36px;
  width:126px;
  height:75px;
  visibility:hidden;
}
#u92_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:81px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:80px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u94_img.mouseOver {
}
#u94.mouseOver {
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:25px;
  width:126px;
  height:25px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u96_img.mouseOver {
}
#u96.mouseOver {
}
#u97 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:50px;
  width:126px;
  height:25px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u98_img.mouseOver {
}
#u98.mouseOver {
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1024px;
  top:8px;
  width:50px;
  height:25px;
  color:#17445E;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1084px;
  top:8px;
  width:50px;
  height:25px;
  color:#17445E;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1020px;
  top:31px;
  width:250px;
  height:115px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:115px;
}
#u105 {
  position:absolute;
  left:2px;
  top:50px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1080px;
  top:87px;
  width:120px;
  height:22px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#17445E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u107 {
  position:absolute;
  left:1080px;
  top:112px;
  width:120px;
  height:22px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#17445E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u109 {
  position:absolute;
  left:150px;
  top:840px;
  width:1000px;
  height:180px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:180px;
}
#u110 {
  position:absolute;
  left:2px;
  top:82px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:150px;
  top:840px;
  width:1000px;
  height:35px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:35px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:150px;
  top:874px;
  width:1000px;
  height:60px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:170px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:292px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:413px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:535px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:656px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:778px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:899px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1021px;
  top:884px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:268px;
  top:950px;
  width:743px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#184674;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:70px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:180px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:302px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:423px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:545px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:666px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:788px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u144 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:908px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1030px;
  top:892px;
  width:25px;
  height:25px;
  color:#114660;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u148 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:339px;
  top:852px;
  width:10px;
  height:12px;
}
#u149_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u149_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u149_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u150 {
  position:absolute;
  left:413px;
  top:852px;
  width:10px;
  height:12px;
}
#u150_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u150_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u150_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u151 {
  position:absolute;
  left:483px;
  top:852px;
  width:10px;
  height:12px;
}
#u151_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u151_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u151_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u152 {
  position:absolute;
  left:554px;
  top:852px;
  width:10px;
  height:12px;
}
#u152_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u152_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u152_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u153 {
  position:absolute;
  left:626px;
  top:852px;
  width:10px;
  height:12px;
}
#u153_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u153_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u153_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u154 {
  position:absolute;
  left:697px;
  top:852px;
  width:10px;
  height:12px;
}
#u154_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u154_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u154_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u155 {
  position:absolute;
  left:779px;
  top:852px;
  width:10px;
  height:12px;
}
#u155_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u155_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u155_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u156 {
  position:absolute;
  left:859px;
  top:852px;
  width:10px;
  height:12px;
}
#u156_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u156_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u156_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u157 {
  position:absolute;
  left:933px;
  top:852px;
  width:10px;
  height:12px;
}
#u157_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u157_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u157_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u158 {
  position:absolute;
  left:279px;
  top:850px;
  width:50px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:362px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:433px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:504px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:575px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:647px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:718px;
  top:850px;
  width:50px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:801px;
  top:850px;
  width:50px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:884px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:955px;
  top:850px;
  width:38px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:220px;
  top:430px;
  width:200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u179 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:549px;
  top:430px;
  width:200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u181 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:879px;
  top:430px;
  width:200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u183 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:469px;
  top:461px;
  width:70px;
  height:38px;
  color:#CCFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u185 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:452px;
  top:471px;
  width:13px;
  height:18px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u187 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:441px;
  top:471px;
  width:8px;
  height:18px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
}
#u189 {
  position:absolute;
  left:2px;
  top:1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:432px;
  top:471px;
  width:6px;
  height:18px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
}
#u191 {
  position:absolute;
  left:2px;
  top:1px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:797px;
  top:461px;
  width:70px;
  height:38px;
  color:#CCFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u193 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:780px;
  top:471px;
  width:13px;
  height:18px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u195 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:769px;
  top:471px;
  width:8px;
  height:18px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:18px;
}
#u197 {
  position:absolute;
  left:2px;
  top:1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:760px;
  top:471px;
  width:6px;
  height:18px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
}
#u199 {
  position:absolute;
  left:2px;
  top:1px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:791px;
  top:580px;
  width:35px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#CCFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:805px;
  top:561px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u203 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:805px;
  top:553px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u205 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:805px;
  top:544px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u207 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:791px;
  top:514px;
  width:35px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#CCFFFF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:466px;
  top:580px;
  width:35px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#CCFFFF;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
}
#u211 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:480px;
  top:561px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u213 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:480px;
  top:553px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u215 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:480px;
  top:544px;
  width:7px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u217 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:466px;
  top:514px;
  width:35px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#CCFFFF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
}
#u219 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:339px;
  top:614px;
  width:200px;
  height:100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u221 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:743px;
  top:614px;
  width:288px;
  height:100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:100px;
}
#u223 {
  position:absolute;
  left:2px;
  top:42px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:378px;
  top:663px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#66FF00;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:769px;
  top:652px;
  width:251px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#66FF00;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:48px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:217px;
  top:360px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:24px;
  color:#CCFFFF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:245px;
  top:394px;
  width:65px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#CCFFFF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:165px;
  top:234px;
  width:301px;
  height:14px;
  font-family:'宋体 Regular', '宋体';
  font-size:12px;
  color:#B6DAEB;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:533px;
  top:280px;
  width:217px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:24px;
  color:#CCFFFF;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:31px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:216px;
  top:316px;
  width:863px;
  height:10px;
}
#u236_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_end {
  position:absolute;
  left:846px;
  top:-5px;
  width:18px;
  height:20px;
}
#u236_line {
  position:absolute;
  left:0px;
  top:5px;
  width:863px;
  height:1px;
}
#u237 {
  position:absolute;
  left:216px;
  top:319px;
  width:863px;
  height:10px;
}
#u237_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_end {
  position:absolute;
  left:846px;
  top:-5px;
  width:18px;
  height:20px;
}
#u237_line {
  position:absolute;
  left:0px;
  top:5px;
  width:863px;
  height:1px;
}
#u238 {
  position:absolute;
  left:186px;
  top:151px;
  width:927px;
  height:775px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:775px;
}
#u239 {
  position:absolute;
  left:2px;
  top:380px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
