body {
  margin:0px;
  background-color:rgba(52, 150, 199, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:151px;
  top:200px;
  width:998px;
  height:571px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:571px;
}
#u1 {
  position:absolute;
  left:2px;
  top:278px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:152px;
  top:213px;
  width:996px;
  height:558px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:558px;
}
#u3 {
  position:absolute;
  left:2px;
  top:271px;
  width:992px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:151px;
  top:213px;
  width:998px;
  height:587px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:587px;
}
#u5 {
  position:absolute;
  left:2px;
  top:286px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:150px;
  top:0px;
  width:1000px;
  height:180px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:180px;
}
#u8 {
  position:absolute;
  left:2px;
  top:82px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:150px;
  top:179px;
  width:1000px;
  height:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:150px;
  top:0px;
  width:1000px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1024px;
  top:13px;
  width:53px;
  height:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1080px;
  top:12px;
  width:36px;
  height:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:812px;
  top:81px;
  width:225px;
  height:33px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:160px;
  top:6px;
  width:70px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#17445E;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:200px;
  top:68px;
  width:285px;
  height:85px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:85px;
}
#u22 {
  position:absolute;
  left:2px;
  top:34px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:814px;
  top:117px;
  width:270px;
  height:15px;
  font-size:12px;
  color:#97CDE8;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:886px;
  top:183px;
  width:200px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:891px;
  top:185px;
  width:22px;
  height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1086px;
  top:183px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:917px;
  top:184px;
  width:163px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:150px;
  top:179px;
  width:599px;
  height:36px;
}
#u32_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:605px;
  height:42px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:41px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:360px;
  top:0px;
  width:118px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:478px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1024px;
  top:8px;
  width:50px;
  height:25px;
  color:#17445E;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1084px;
  top:8px;
  width:50px;
  height:25px;
  color:#17445E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1020px;
  top:31px;
  width:250px;
  height:115px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:115px;
}
#u49 {
  position:absolute;
  left:2px;
  top:50px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1080px;
  top:87px;
  width:120px;
  height:22px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#17445E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51 {
  position:absolute;
  left:1080px;
  top:112px;
  width:120px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#17445E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52 {
  position:absolute;
  left:265px;
  top:192px;
  width:10px;
  height:15px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u53 {
  position:absolute;
  left:385px;
  top:192px;
  width:10px;
  height:15px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u54 {
  position:absolute;
  left:505px;
  top:192px;
  width:10px;
  height:15px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u55 {
  position:absolute;
  left:625px;
  top:192px;
  width:10px;
  height:15px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u57 {
  position:absolute;
  left:150px;
  top:730px;
  width:1000px;
  height:140px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:140px;
}
#u58 {
  position:absolute;
  left:2px;
  top:62px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:150px;
  top:724px;
  width:1000px;
  height:60px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:170px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:292px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:413px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:535px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:656px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:778px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:899px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1021px;
  top:734px;
  width:112px;
  height:40px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:268px;
  top:800px;
  width:743px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#184674;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:70px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:180px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:302px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:423px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:545px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:666px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:788px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:908px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1030px;
  top:742px;
  width:25px;
  height:25px;
  color:#114660;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:350px;
  top:260px;
  width:260px;
  height:420px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:420px;
}
#u96 {
  position:absolute;
  left:2px;
  top:202px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:350px;
  top:260px;
  width:260px;
  height:420px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:420px;
}
#u98 {
  position:absolute;
  left:2px;
  top:202px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:386px;
  top:291px;
  width:73px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:28px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:386px;
  top:370px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:346px;
  top:340px;
  width:10px;
  height:40px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:565px;
  top:465px;
  width:35px;
  height:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-3px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:585px;
  top:462px;
  width:15px;
  height:15px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u108 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:386px;
  top:435px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:386px;
  top:500px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:346px;
  top:554px;
  width:10px;
  height:40px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:690px;
  top:260px;
  width:260px;
  height:420px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:420px;
}
#u116 {
  position:absolute;
  left:2px;
  top:202px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:690px;
  top:260px;
  width:260px;
  height:420px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:420px;
}
#u118 {
  position:absolute;
  left:2px;
  top:202px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:770px;
  top:291px;
  width:73px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:28px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:770px;
  top:370px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:944px;
  top:340px;
  width:10px;
  height:40px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:700px;
  top:464px;
  width:35px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
}
#u126 {
  position:absolute;
  left:2px;
  top:-3px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:700px;
  top:462px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u128 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:770px;
  top:435px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:770px;
  top:500px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#267CA7;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:944px;
  top:554px;
  width:10px;
  height:40px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
